captioning_pipeline/example_material/Cap3D_captions/
captioning_pipeline/example_material/Cap3D_imgs/
captioning_pipeline_my/
captioning_pipeline/LAVIS/
captioning_pipeline/blender-3.4.1-linux-x64/
text-to-3D/point-e/model_ckpts/
text-to-3D/point-e/pointE_inference/
text-to-3D/point-e/*.egg-info/
text-to-3D/point-e/__pycache__/
text-to-3D/point-e/point_e_model_cache/
text-to-3D/shap-e/shap_e_model_cache/
text-to-3D/shap-e/model_ckpts/
text-to-3D/shap-e/shapE_inference/

*.swp
**/__pycache__/


